body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    
}

nav {
    display: flex;
    justify-content: right;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #555;
}

.centered-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    width: 100%;
    background-color: #f8f8f8;
  }
  
  .post-box h2 {
    font-size: 24px;
  }
  
  .post-description {
    font-size: 18px;
  }
  
  .post-created-at,
  .post-author {
    font-size: 16px;
  }
  
  .reviews-box {
    margin-top: 10px;
  }
  
  .review-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
  }
  
  .review-headline {
    font-size: 16px;
  }
  
  .review-body {
    font-size: 14px;
  }
  
  .no-review,
  .no-post {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .edit-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: #007bff;
  }
  
  /* Add this to your CSS file */
.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.feed-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 60%;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.review-content {
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 10px;
}

.buttons {
  margin-top: 15px;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.create-review-link {
  background-color: #ff9900; /* Set background color */
  color: #fff; /* Set text color */
  padding: 10px 20px; /* Add padding to create some space around the text */
  border-radius: 5px; /* Add rounded corners */
  text-decoration: none; /* Remove default underline from links */
}

.create-review-link:hover {
  background-color: #e68a00; /* Change background color on hover */
}

.follower-list {
  list-style-type: none;
  padding: 0;
}

.follower-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.follower-info {
  flex-grow: 1;
}

.follower-username {
  font-weight: bold;
}

.follower-actions {
  margin-left: 50px;
}