{% extends 'base.html' %}

{% block content %}
  <h1>Your Feed</h1>

  <!-- Create Post and Review Form -->
  <form method="post" class="create-form">
    {% csrf_token %}
    {{ ticket_form.as_p }}
    {{ review_form.as_p }}
    <button type="submit">Create Post and Review</button>
  </form>

  <!-- Display Feed Items -->
  <div class="feed-content">
    {% for item in feed %}
      <div class="feed-item">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
        <p class="item-author">By: {{ item.author }}</p>
        
        <!-- Add Review Form -->
        <form method="post" class="review-form">
          {% csrf_token %}
          <input type="hidden" name="ticket_id" value="{{ item.id }}">
          {{ review_form.as_p }}
          <button type="submit">Add Review</button>
        </form>
        
        <!-- Display Reviews -->
        <ul class="review-list">
          {% for review in item.review_set.all %}
            <li class="review-item">
              <p>{{ review.body }}</p>
              <p class="review-author">By: {{ review.user }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}


