{% extends 'base.html' %}

{% block content %}
  <h1>Your Posts</h1>
  <div class="centered-boxes">
    {% if posts %}
      <ul class="post-list">
        {% for post in posts %}
          <li class="post-box">
            <h3>Ticket:</h3>
            <h2>{{ post.title }}</h2>
            <p class="post-description">{{ post.description }}</p>
            <p class="post-author">By: {{ post.author }} at: {{ post.created_at }}</p>
            <div class="reviews-box">
              {% if post.review_set.exists %}
                <h3>Reviews:</h3>
                <ul class="review-list">
                  {% for review in post.review_set.all %}
                    <li class="review-box">
                      <strong class="review-headline">{{ review.headline }} - {{ review.rating }} stars</strong>
                      <p class="review-body">{{ review.body }}</p>
                      <p class="review-author">By: {{ review.user }} at: {{ review.time_created }}</p>
                      <a href="{% url 'edit_review' review_id=review.id %}" class="edit-link">Edit Review</a>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <p class="no-review">No review available.</p>
              {% endif %}
            </div>
            <a href="{% url 'edit_ticket' post.id %}" class="edit-link">Edit Ticket</a>
            {% if not post.review_set.exists %}
              <a href="{% url 'create_review' ticket_id=post.id %}" class="create-review-link">Add Review</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no-post">No posts found.</p>
    {% endif %}
  </div>
{% endblock %}



